/* font-family: 'Jura', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
:root {
  --main: white;
  --sec: #2b9df4;
  --font_main: "Jura", sans-serif;
  --font_sec: "Orbitron", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  color: var(--main);
  background-color: black;
  font-family: var(--font_main);
}

nav {
  border-bottom: solid var(--main) 1px;
}
h1 {
  font-family: var(--font_sec);
}

h2 {
  color: var(--sec);
}

.bg_header {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 100%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../media/moon.jpg");
  /* background: linear-gradient(transparent, black), url("../media/moon.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 600px;
}

.numbers {
  font-size: 40px;
  font-family: var(--font_sec);
}

.border_down_sec {
  border-bottom: solid var(--sec) 1px;
}

.text_grey {
  color: grey;
}

.go_to_button {
  background-color: black;
  color: var(--main);
  /* border: dashed var(--sec) 3px; */
  padding: 5px 40px 5px 40px;
  --b: 3px; /* thickness of the border */
  --c: var(--sec); /* color of the border */
  --w: 10px; /* width of border */
  border: var(--b) solid transparent; /* space for the border */
  --g: #0000 90deg, var(--c) 0;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--g))
      0 0,
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--g)) 100% 0,
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--g)) 0 100%,
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--g)) 100%
      100%;
  background-size: var(--w) var(--w);
  background-origin: border-box;
  background-repeat: no-repeat;
}

.sec_icon {
  color: var(--sec);
  font-size: 20px;
}

.bg_footer {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4) 100%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../media/sunrise.jpg");
  /* background-image: linear-gradient(to bottom, transparent, black),
    url("../media/sunrise.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 400px;
}

.arrowDown {
  font-size: 30px;
  /* con questo riesco ad applicare il font-weight alle icone di bootstrap */
  -webkit-text-stroke: 3px;
}

.missile {
  height: 100vh;
}

.fading_line {
  margin: 25px;
  padding: 2px;
  height: 1px;
  background: black;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(black),
    to(black),
    color-stop(50%, var(--sec))
  );
}

.navIcon {
  color: var(--main);
  font-size: 30px;
}
